{% extends 'base.html.twig' %}

{% block title %}Page Accueil{% endblock %}

{% block body %}
    <br>
   



<br>
<div class="border align bgconsole">
<h6 class="centre">Selectionner votre console :</h6><br>
<div class="row ">
{% for cat in tableau %}
<div class="col-5 milieu">
  <div class="card navbarsite blanc" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <a href="/categorie/{{cat.id}}"><img src="/images/{{cat.imgSource}}" class="img-fluid img-card verticalcentre" alt="Ps5"></a>
      </div>
      <div class="col-md-8">
        <div class="card-body card-titre">
          <h5 class="card-title "><a href="/categorie/{{cat.id}}" class="blanc">{{cat.TypeSupport}}</h5></a>
          <p class="card-text">À partir de €349,00 <br>Prix régulier €749,00</p>
          <p class="card-text"><h6></h6>STOCK LIMITÉ <br>Découvrez en exclusivité la {{cat.TypeSupport}} </p>
          <p class="card-text "><small class="disponible border">Disponible <br><span>Ruprutre de stocks</span></small></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>
</div>



{% endblock %}
